html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /*background-color: #03191e;*/
  height: 100%;
}
body {
  position: relative;
}
#vertex,
#fragment {
  display: none;
}
#star-chart-canvas-wrapper {
  position: absolute;
  top: 41px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  /*display: none;*/
}
#frame-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ui-wrapper {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

.ui-planet-name {
  position: absolute;
  left: 50%;
  bottom: 10px;
  padding: 10px;
  transform: translateX(-50%);
}
